@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
:root {
  --theme-color: #4BBD93;
  --theme-color-2: #21CE99;
  --light-theme-color: #DBF7EF;
  --txt-color: #000000;
  --light-txt-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--txt-color);
  position: relative;
}

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../images//banner-shap-1.svg);
  background-repeat: no-repeat;
  max-height: 980px;
  background-position: right -7% top;
  background-size: auto 100%;
}

@media (max-width: 1800px) {
  body::before {
    max-height: 900px;
    background-position: right -20% top;
  }
}

@media (max-width: 1600px) {
  body::before {
    max-height: 840px;
    background-position: right -20% top;
  }
}

@media (max-width: 1500px) {
  body::before {
    max-height: 780px;
    background-position: right -30% top;
  }
}

@media (max-width: 1400px) {
  body::before {
    max-height: 720px;
  }
}

@media (max-width: 1200px) {
  body::before {
    max-height: 820px;
    background-position: right 0%;
  }
}

@media (max-width: 1023px) {
  body::before {
    max-height: 680px;
    background-position: right 0%;
  }
}

@media (max-width: 767px) {
  body::before {
    max-height: 580px;
    background-position: right 0% top -25px;
  }
}

@media (max-width: 600px) {
  body::before {
    max-height: 520px;
  }
}

@media (max-width: 567px) {
  body::before {
    max-height: 600px;
    background-position: right 15% top -25px;
  }
}

@media (min-width: 2040px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    width: 1920px;
    margin: 0px auto;
  }
}

@media (max-width: 1850px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 15% !important;
  }
}

@media (max-width: 1650px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 10% !important;
  }
}

@media (max-width: 1300px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 5% !important;
  }
}

@media (max-width: 1200px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 35px !important;
  }
}

@media (max-width: 1200px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 25px !important;
  }
}

@media (max-width: 767px) {
  .navbar-container,
  .inner-container,
  .main-container,
  .main-inner-container {
    padding: 0px 15px !important;
  }
}

.head-txt {
  font-style: normal;
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 46px;
  position: relative;
  margin-bottom: 64px;
}

.head-txt::before {
  content: '';
  position: absolute;
  width: 129px;
  height: 5px;
  background-color: var(--theme-color);
  left: 0;
  bottom: -9px;
}

@media (max-width: 1500px) {
  .head-txt {
    font-size: 2rem;
    line-height: 42px;
    margin-bottom: 44px;
  }
}

@media (max-width: 1200px) {
  .head-txt {
    font-size: 1.75rem;
    line-height: 38px;
    margin-bottom: 35px;
  }
}

@media (max-width: 1023px) {
  .head-txt {
    font-size: 1.5rem;
    line-height: 34px;
    margin-bottom: 25px;
  }
}

.btn {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--light-txt-color);
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background: var(--theme-color);
}

.btn:hover {
  border: none;
  background: var(--theme-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  border: none;
  background: var(--theme-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  border: none !important;
  background: var(--theme-color) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 1200px) {
  .btn {
    font-size: 1rem;
    line-height: 22px;
  }
}

#header {
  padding: 28px 0px;
}

@media (max-width: 1023px) {
  #header {
    padding: 20px 0px 15px;
  }
}

#header .navbar-wrapper .navbar-container {
  padding: 0px 173px;
}

#header .navbar-wrapper .navbar-container .navbar {
  padding: 0px 0px;
}

#header .navbar-wrapper .navbar-container .navbar .navbar-brand {
  padding: 0;
}

@media (max-width: 1023px) {
  #header .navbar-wrapper .navbar-container .navbar .navbar-brand a img {
    max-height: 38px;
  }
}

#header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 170px;
}

@media (max-width: 1800px) {
  #header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav {
    padding-right: 0px;
  }
}

#header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--txt-color);
  padding-right: 33px;
}

@media (max-width: 1200px) {
  #header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 0.875rem;
    line-height: 20px;
    padding-right: 25px;
  }
}

@media (max-width: 1023px) {
  #header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
  }
}

#header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

#header .navbar-wrapper .navbar-container .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0px;
}

#header .navbar-toggler {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/icon-menu.svg");
  background-position: center;
  color: #fff;
  background-size: 30px;
}

#banner {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1300px) {
  #banner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  #banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 567px) {
  #banner {
    padding-top: 15px;
  }
}

#banner::before {
  content: '';
  width: 456px;
  height: 432px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: 0px;
  right: -310px;
}

@media (max-width: 1600px) {
  #banner::before {
    width: 280px;
    height: 280px;
    right: -140px;
  }
}

@media (max-width: 1200px) {
  #banner::before {
    width: 180px;
    height: 180px;
    right: -90px;
  }
}

#banner .inner-container {
  padding: 0px 173px;
}

@media (max-width: 767px) {
  #banner .inner-container .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
  }
}

@media (max-width: 567px) {
  #banner .inner-container .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

#banner .inner-container .row .col-md-6.banner-txt-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 0;
}

#banner .inner-container .row .col-md-6.banner-txt-sec::before {
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  top: 5%;
  right: 44%;
}

#banner .inner-container .row .col-md-6.banner-txt-sec::after {
  content: '';
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: -8%;
  right: 10%;
}

@media (max-width: 768px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec::after {
    z-index: -1;
    opacity: 0;
  }
}

#banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main {
  position: relative;
}

#banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
  font-style: normal;
  font-weight: 800;
  font-size: 4.6875rem;
  line-height: 102px;
  margin-bottom: 31px;
}

@media (max-width: 1800px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 4.125rem;
    line-height: 86px;
  }
}

@media (max-width: 1500px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 3.5rem;
    line-height: 76px;
  }
}

@media (max-width: 1300px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 3rem;
    line-height: 68px;
  }
}

@media (max-width: 1023px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 2.25rem;
    line-height: 52px;
  }
}

@media (max-width: 767px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 2rem;
    line-height: 46px;
  }
}

@media (max-width: 567px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .main-head {
    font-size: 1.75rem;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

#banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main p {
  width: 65%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  margin-bottom: 57px;
}

@media (max-width: 1850px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main p {
    width: 85%;
    font-size: 1.375rem;
    margin-bottom: 57px;
  }
}

@media (max-width: 1300px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main p {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 54px;
  }
}

@media (max-width: 1023px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main p {
    font-size: 1rem;
    margin-bottom: 35px;
  }
}

@media (max-width: 600px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main p {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
}

#banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .btn {
  padding: 14px 47px 17px 53px;
  font-size: 1.25rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 1500px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .btn {
    font-size: 1.125rem;
  }
}

@media (max-width: 1023px) {
  #banner .inner-container .row .col-md-6.banner-txt-sec .banner-txt-main .btn {
    font-size: 1rem;
    padding: 12px 40px;
  }
}

#banner .inner-container .row .col-md-6.banner-img-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: calc(1% + 170px);
  position: relative;
}

@media (max-width: 1800px) {
  #banner .inner-container .row .col-md-6.banner-img-sec {
    padding-right: 0;
  }
}

@media (max-width: 1600px) {
  #banner .inner-container .row .col-md-6.banner-img-sec img {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  #banner .inner-container .row .col-md-6.banner-img-sec img {
    width: 90%;
  }
}

@media (max-width: 1023px) {
  #banner .inner-container .row .col-md-6.banner-img-sec img {
    width: 100%;
  }
}

@media (max-width: 567px) {
  #banner .inner-container .row .col-md-6.banner-img-sec img {
    width: 80%;
    margin: 0px auto;
  }
}

#dental-analytics {
  padding-top: 75px;
  padding-bottom: 227px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1400px) {
  #dental-analytics {
    padding-bottom: 120px;
  }
}

@media (max-width: 1023px) {
  #dental-analytics {
    padding-top: 0px;
    padding-bottom: 80px;
  }
}

#dental-analytics::before {
  content: '';
  width: 375px;
  height: 375px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: 0px;
  right: -188px;
}

@media (max-width: 1400px) {
  #dental-analytics::before {
    width: 300px;
    height: 300px;
    right: -150px;
  }
}

@media (max-width: 1200px) {
  #dental-analytics::before {
    width: 200px;
    height: 200px;
    right: -100px;
  }
}

@media (max-width: 1023px) {
  #dental-analytics::before {
    width: 140px;
    height: 140px;
    right: -70px;
  }
}

#dental-analytics .main-container {
  padding: 0px 235px;
}

#dental-analytics .main-container .dental-analytics-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 107px;
          column-gap: 107px;
}

@media (max-width: 1300px) {
  #dental-analytics .main-container .dental-analytics-row {
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
    -webkit-column-gap: 2%;
            column-gap: 2%;
  }
}

@media (max-width: 767px) {
  #dental-analytics .main-container .dental-analytics-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 35px;
  }
}

#dental-analytics .main-container .dental-analytics-row .img-sec {
  position: relative;
}

#dental-analytics .main-container .dental-analytics-row .img-sec::after {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  top: 82px;
  left: 100px;
  z-index: -1;
  content: '';
}

#dental-analytics .main-container .dental-analytics-row .img-sec::before {
  content: '';
  width: 475px;
  height: 475px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: -64px;
  left: -64px;
  z-index: -1;
}

@media (max-width: 1400px) {
  #dental-analytics .main-container .dental-analytics-row .img-sec::before {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1300px) {
  #dental-analytics .main-container .dental-analytics-row .img-sec::before {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 1200px) {
  #dental-analytics .main-container .dental-analytics-row .img-sec::before {
    width: 260px;
    height: 260px;
    bottom: -34px;
    left: -34px;
  }
}

#dental-analytics .main-container .dental-analytics-row .img-sec img {
  width: 100%;
}

@media (max-width: 767px) {
  #dental-analytics .main-container .dental-analytics-row .img-sec img {
    max-width: 310px;
  }
}

#dental-analytics .main-container .dental-analytics-row .txt-sec {
  position: relative;
}

#dental-analytics .main-container .dental-analytics-row .txt-sec::before {
  content: '';
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: 40%;
  left: -220px;
  z-index: -1;
}

#dental-analytics .main-container .dental-analytics-row .txt-sec p {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 27px;
}

@media (max-width: 1500px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec p {
    font-size: 1.125rem;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec p {
    font-size: 1rem;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec p {
    font-size: 0.875rem;
    line-height: 22px;
  }
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .inner-head-txt {
  margin-top: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 46px;
}

@media (max-width: 1500px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .inner-head-txt {
    font-size: 1.875rem;
    line-height: 42px;
    margin-top: 35px;
  }
}

@media (max-width: 1300px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .inner-head-txt {
    font-size: 1.75rem;
    line-height: 40px;
    margin-top: 25px;
  }
}

@media (max-width: 1023px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .inner-head-txt {
    font-size: 1.375rem;
    line-height: 32px;
    margin-top: 15px;
  }
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  margin-top: 58px;
}

@media (max-width: 1500px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec {
    margin-top: 48px;
  }
}

@media (max-width: 1300px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec {
    margin-top: 35px;
    row-gap: 40px;
  }
}

@media (max-width: 1300px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec {
    margin-top: 25px;
    row-gap: 25px;
  }
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 340px;
      grid-template-columns: 60px 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
}

@media (max-width: 1023px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list {
    -ms-grid-columns: 44px auto;
        grid-template-columns: 44px auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-rows: 44px;
        grid-template-rows: 44px;
  }
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list .icon-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: var(--theme-color);
  height: 100%;
  width: 100%;
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list .icon-sec img {
  width: 24px;
  height: auto;
}

#dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list .list-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #888888;
}

@media (max-width: 1200px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list .list-txt {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 567px) {
  #dental-analytics .main-container .dental-analytics-row .txt-sec .icon-list-sec .single-icon-list .list-txt {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  #cross-user, #goal-setting {
    overflow: hidden;
  }
}

#cross-user .main-inner-container, #goal-setting .main-inner-container {
  padding: 0px 355px;
}

#cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 310px;
          column-gap: 310px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1500px) {
  #cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
    -webkit-column-gap: 240px !important;
            column-gap: 240px !important;
  }
}

@media (max-width: 1400px) {
  #cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
    -webkit-column-gap: 100px !important;
            column-gap: 100px !important;
  }
}

@media (max-width: 1200px) {
  #cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
    -webkit-column-gap: 35px !important;
            column-gap: 35px !important;
  }
}

@media (max-width: 1200px) {
  #cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
    -webkit-column-gap: 2% !important;
            column-gap: 2% !important;
  }
}

@media (max-width: 767px) {
  #cross-user .main-inner-container .cross-user-row, #goal-setting .main-inner-container .cross-user-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (max-width: 767px) {
  #cross-user .main-inner-container .cross-user-row .img-sec, #goal-setting .main-inner-container .cross-user-row .img-sec {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#cross-user .main-inner-container .cross-user-row .img-sec img, #goal-setting .main-inner-container .cross-user-row .img-sec img {
  width: 100%;
}

@media (max-width: 767px) {
  #cross-user .main-inner-container .cross-user-row .img-sec img, #goal-setting .main-inner-container .cross-user-row .img-sec img {
    max-width: 310px;
    margin: 0px auto;
  }
}

#cross-user .main-inner-container .cross-user-row .txt-sec, #goal-setting .main-inner-container .cross-user-row .txt-sec {
  position: relative;
}

#cross-user .main-inner-container .cross-user-row .txt-sec::before, #goal-setting .main-inner-container .cross-user-row .txt-sec::before {
  content: '';
  width: 115px;
  height: 115px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: -18%;
  right: -50%;
  z-index: -1;
}

@media (max-width: 1400px) {
  #cross-user .main-inner-container .cross-user-row .txt-sec::before, #goal-setting .main-inner-container .cross-user-row .txt-sec::before {
    width: 90px;
    height: 90px;
    bottom: -50%;
    right: -20%;
  }
}

#cross-user .main-inner-container .cross-user-row .txt-sec p, #goal-setting .main-inner-container .cross-user-row .txt-sec p {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 27px;
}

@media (max-width: 1500px) {
  #cross-user .main-inner-container .cross-user-row .txt-sec p, #goal-setting .main-inner-container .cross-user-row .txt-sec p {
    font-size: 1.125rem;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  #cross-user .main-inner-container .cross-user-row .txt-sec p, #goal-setting .main-inner-container .cross-user-row .txt-sec p {
    font-size: 1rem;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #cross-user .main-inner-container .cross-user-row .txt-sec p, #goal-setting .main-inner-container .cross-user-row .txt-sec p {
    font-size: 0.875rem;
    line-height: 22px;
  }
}

#goal-setting {
  padding: 100px 0px;
  position: relative;
}

@media (max-width: 1300px) {
  #goal-setting {
    padding: 65px 0px;
  }
}

@media (max-width: 1023px) {
  #goal-setting {
    padding: 35px 0px;
  }
}

#goal-setting::before {
  content: '';
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: 20%;
  right: 102px;
  z-index: -1;
}

#goal-setting .main-inner-container .cross-user-row {
  -webkit-column-gap: 180px;
          column-gap: 180px;
}

@media (max-width: 767px) {
  #goal-setting .main-inner-container .cross-user-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 25px;
  }
}

#goal-setting .main-inner-container .cross-user-row .img-sec {
  position: relative;
}

@media (max-width: 767px) {
  #goal-setting .main-inner-container .cross-user-row .img-sec {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#goal-setting .main-inner-container .cross-user-row .img-sec img {
  width: 100%;
}

@media (max-width: 767px) {
  #goal-setting .main-inner-container .cross-user-row .img-sec img {
    max-width: 310px;
    margin: 0px auto;
  }
}

#goal-setting .main-inner-container .cross-user-row .img-sec::before {
  content: '';
  width: 156px;
  height: 156px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  top: -4%;
  left: -40%;
  z-index: -1;
}

#goal-setting .main-inner-container .cross-user-row .txt-sec::before {
  display: none;
}

#download-apps {
  background-color: var(--theme-color-2);
  padding: 57px 0px 70px;
  position: relative;
}

@media (max-width: 1200px) {
  #download-apps {
    padding: 35px 0px 55px;
  }
}

@media (max-width: 1023px) {
  #download-apps {
    padding: 35px 0px 45px;
  }
}

@media (max-width: 767px) {
  #download-apps {
    padding: 25px 0px 25px;
  }
}

#download-apps::before {
  content: '';
  width: 245px;
  height: 245px;
  border-radius: 100%;
  background-color: #DBF7EF;
  position: absolute;
  top: -25%;
  right: 0%;
  opacity: 0.2;
}

@media (max-width: 1400px) {
  #download-apps::before {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 567px) {
  #download-apps::before {
    opacity: 0;
  }
}

#download-apps::after {
  content: '';
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background-color: #DBF7EF;
  position: absolute;
  bottom: -87px;
  left: 10%;
  opacity: 0.2;
}

@media (max-width: 1400px) {
  #download-apps::after {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 567px) {
  #download-apps::after {
    opacity: 0;
  }
}

#download-apps .main-inner-container {
  padding: 0px 355px;
}

#download-apps .main-inner-container .white-head {
  color: var(--light-txt-color);
  font-style: normal;
  font-weight: bold;
  font-size: 3.375rem;
  line-height: 74px;
  margin-bottom: 57px;
  text-align: center;
}

@media (max-width: 1500px) {
  #download-apps .main-inner-container .white-head {
    font-size: 3.25rem;
    line-height: 68px;
  }
}

@media (max-width: 1400px) {
  #download-apps .main-inner-container .white-head {
    font-size: 3.125rem;
    line-height: 64px;
  }
}

@media (max-width: 1300px) {
  #download-apps .main-inner-container .white-head {
    font-size: 3rem;
    line-height: 60px;
  }
}

@media (max-width: 1200px) {
  #download-apps .main-inner-container .white-head {
    font-size: 2.375rem;
    line-height: 48px;
    margin-bottom: 35px;
  }
}

@media (max-width: 1023px) {
  #download-apps .main-inner-container .white-head {
    font-size: 2rem;
    line-height: 38px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  #download-apps .main-inner-container .white-head {
    font-size: 1.75rem;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  #download-apps .main-inner-container .white-head {
    font-size: 1.5rem;
    line-height: 28px;
  }
}

#download-apps .main-inner-container .apps-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
          column-gap: 31px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1023px) {
  #download-apps .main-inner-container .apps-sec {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 1200px) {
  #download-apps .main-inner-container .apps-sec .apps-store a img {
    max-height: 48px;
  }
}

@media (max-width: 1023px) {
  #download-apps .main-inner-container .apps-sec .apps-store a img {
    max-height: 42px;
  }
}

@media (max-width: 1023px) {
  #download-apps .main-inner-container .apps-sec .apps-store a img {
    max-height: 36px;
  }
}

#key-performance {
  padding-top: 140px;
}

@media (max-width: 1500px) {
  #key-performance {
    padding-top: 100px;
  }
}

@media (max-width: 1023px) {
  #key-performance {
    padding-top: 45px;
  }
}

#key-performance .main-inner-container {
  padding: 0px 355px;
  position: relative;
  overflow: hidden;
}

#key-performance .main-inner-container::before {
  content: '';
  position: absolute;
  width: 147px;
  height: 147px;
  background-color: var(--light-theme-color);
  border-radius: 100%;
  bottom: 30%;
  left: 45px;
}

@media (max-width: 1600px) {
  #key-performance .main-inner-container::before {
    width: 100px;
    height: 100px;
    left: 1%;
  }
}

@media (max-width: 1300px) {
  #key-performance .main-inner-container::before {
    width: 80px;
    height: 80px;
    bottom: 10%;
  }
}

#key-performance .main-inner-container::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: var(--light-theme-color);
  border-radius: 100%;
  bottom: 38%;
  right: 8%;
}

@media (max-width: 1300px) {
  #key-performance .main-inner-container::after {
    bottom: 20%;
    right: 1%;
  }
}

#key-performance .main-inner-container .key-performance-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 125px;
          column-gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1500px) {
  #key-performance .main-inner-container .key-performance-row {
    -webkit-column-gap: 70px;
            column-gap: 70px;
  }
}

@media (max-width: 1400px) {
  #key-performance .main-inner-container .key-performance-row {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 767px) {
  #key-performance .main-inner-container .key-performance-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

#key-performance .main-inner-container .key-performance-row::before {
  content: '';
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: var(--light-theme-color);
  border-radius: 100%;
  top: 10%;
  left: calc(100% + 10px);
}

#key-performance .main-inner-container .key-performance-row .img-sec {
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  #key-performance .main-inner-container .key-performance-row .img-sec {
    width: 100%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

#key-performance .main-inner-container .key-performance-row .img-sec::before {
  content: '';
  position: absolute;
  width: 534px;
  height: 534px;
  background-color: var(--light-theme-color);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  #key-performance .main-inner-container .key-performance-row .img-sec::before {
    width: 480px;
    height: 480px;
  }
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .img-sec::before {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .img-sec::before {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 567px) {
  #key-performance .main-inner-container .key-performance-row .img-sec::before {
    width: 280px;
    height: 280px;
  }
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-img-sec img {
  width: auto;
  max-height: 780px;
  margin: 0px auto;
}

@media (max-width: 1400px) {
  #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-img-sec img {
    max-height: 700px;
  }
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-img-sec img {
    max-height: 640px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-img-sec img {
    max-height: 580px;
  }
}

@media (max-width: 767px) {
  #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-img-sec img {
    max-height: 380px;
  }
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  -webkit-column-gap: 46px;
          column-gap: 46px;
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-prev, #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-next {
  margin: 0;
  line-height: 1;
  font-size: 35px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -15px;
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-prev:hover, #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-next:hover {
  color: var(--theme-color-2);
  background-color: transparent;
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-prev:focus, #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-next:focus {
  color: var(--theme-color-2);
  background-color: transparent;
}

#key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-prev:active, #key-performance .main-inner-container .key-performance-row .img-sec .owl-carousel .owl-nav .owl-next:active {
  color: var(--theme-color-2);
  background-color: transparent;
}

#key-performance .main-inner-container .key-performance-row .txt-sec {
  position: relative;
  width: 93%;
  overflow: hidden;
}

#key-performance .main-inner-container .key-performance-row .txt-sec p {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 27px;
}

@media (max-width: 1500px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec p {
    font-size: 1.125rem;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec p {
    font-size: 1rem;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec p {
    font-size: 0.875rem;
    line-height: 22px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel {
    margin-top: 60px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel {
    margin-top: 35px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px auto;
      grid-template-columns: 85px auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 85px;
      grid-template-rows: 85px;
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item {
    -ms-grid-columns: 65px auto;
        grid-template-columns: 65px auto;
    -ms-grid-rows: 65px;
        grid-template-rows: 65px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .logo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  position: relative;
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .logo-sec::before {
  content: '';
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #F2F4F6;
  bottom: -8px;
  left: 5px;
  z-index: -1;
  border-radius: 100%;
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .logo-sec::before {
    width: 56px;
    height: 56px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .logo-sec img {
  width: 64px;
  height: 64px;
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .logo-sec img {
    width: 44px;
    height: 44px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .slider-head {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: var(--theme-color-2);
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .slider-head {
    font-size: 26px;
    line-height: 38px;
  }
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item .slider-head {
    font-size: 22px;
    line-height: 32px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item p {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: -1;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--txt-color);
}

@media (max-width: 1200px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item p {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 1023px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  #key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .single-item p {
    font-size: 14px;
    line-height: 22px;
  }
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-dots .owl-dot {
  width: 36px;
  height: 6px;
  margin-left: 7px;
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-dots .owl-dot span {
  width: 36px;
  height: 6px;
  margin: 0;
  background-color: #C4C4C4;
}

#key-performance .main-inner-container .key-performance-row .txt-sec .owl-carousel .owl-dots .owl-dot.active span {
  background-color: var(--theme-color-2);
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 20px;
  display: inline-block;
  vertical-align: text-top;
  width: 22px;
  height: 22px;
  background: #F2F4F6;
}

@media (max-width: 567px) {
  .styled-checkbox + label:before {
    margin-right: 10px;
  }
}

.styled-checkbox:hover + label:before {
  background: #E1F4EC;
}

.styled-checkbox:checked + label:before {
  background: #E1F4EC;
}

.styled-checkbox:disabled + label {
  color: #F2F4F6;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 16px;
  background: #21CE99;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #21ce99, 4px 0 0 #21ce99, 4px -2px 0 #21ce99, 4px -4px 0 #21ce99, 4px -6px 0 #21ce99, 4px -8px 0 #21ce99, 4px -10px 0 #21ce99;
          box-shadow: 2px 0 0 #21ce99, 4px 0 0 #21ce99, 4px -2px 0 #21ce99, 4px -4px 0 #21ce99, 4px -6px 0 #21ce99, 4px -8px 0 #21ce99, 4px -10px 0 #21ce99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1023px) {
  .styled-checkbox:checked + label:after {
    top: 13px;
  }
}

#pricing {
  padding: 95px 0px 120px;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
}

@media (max-width: 1023px) {
  #pricing {
    padding: 65px 0px 55px;
    margin-top: -20px;
  }
}

#pricing::before {
  content: '';
  width: 375px;
  height: 375px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  top: 0px;
  left: -172px;
  z-index: -1;
}

@media (max-width: 1600px) {
  #pricing::before {
    width: 240px;
    height: 240px;
    left: -120px;
  }
}

#pricing::after {
  content: '';
  width: 224px;
  height: 224px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: 20%;
  right: -102px;
  z-index: -1;
}

#pricing .main-inner-container {
  padding: 0px 355px;
}

#pricing .main-inner-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--txt-color);
}

@media (max-width: 767px) {
  #pricing .main-inner-container p {
    font-size: 16px;
    line-height: 22px;
  }
}

#pricing .main-inner-container .price-row {
  padding-top: 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (490px)[2];
      grid-template-columns: repeat(2, 490px);
  -webkit-column-gap: 117px;
          column-gap: 117px;
}

@media (max-width: 1500px) {
  #pricing .main-inner-container .price-row {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media (max-width: 1400px) {
  #pricing .main-inner-container .price-row {
    -webkit-column-gap: 80px;
            column-gap: 80px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    padding-top: 35px;
  }
}

@media (max-width: 767px) {
  #pricing .main-inner-container .price-row {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
}

#pricing .main-inner-container .price-row .price-col {
  padding: 50px 50px 45px 45px;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-box-shadow .35s ease-in-out;
  transition: box-shadow .35s ease-in-out;
  transition: box-shadow .35s ease-in-out, -webkit-box-shadow .35s ease-in-out;
  background-color: #fff;
}

@media (max-width: 1200px) {
  #pricing .main-inner-container .price-row .price-col {
    padding: 35px 25px;
  }
}

@media (max-width: 567px) {
  #pricing .main-inner-container .price-row .price-col {
    padding: 25px 15px;
  }
}

@media (max-width: 767px) {
  #pricing .main-inner-container .price-row .price-col {
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
  }
}

#pricing .main-inner-container .price-row .price-col:hover {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  -webkit-transition: -webkit-box-shadow .35s ease-in-out;
  transition: -webkit-box-shadow .35s ease-in-out;
  transition: box-shadow .35s ease-in-out;
  transition: box-shadow .35s ease-in-out, -webkit-box-shadow .35s ease-in-out;
}

#pricing .main-inner-container .price-row .price-col:hover .btn {
  color: var(--light-txt-color);
  background-color: var(--theme-color);
}

#pricing .main-inner-container .price-row .price-col.basic-price {
  position: relative;
}

#pricing .main-inner-container .price-row .price-col.basic-price::before {
  content: '';
  width: 104px;
  height: 104px;
  border-radius: 100%;
  background-color: var(--light-theme-color);
  position: absolute;
  bottom: -4%;
  left: -42%;
  z-index: -1;
}

#pricing .main-inner-container .price-row .price-col.pro-price {
  color: var(--txt-color);
}

#pricing .main-inner-container .price-row .price-col.pro-price .price {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

#pricing .main-inner-container .price-row .price-col.pro-price .price .value {
  font-style: normal;
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 61px;
  padding-right: 10px;
}

@media (max-width: 1400px) {
  #pricing .main-inner-container .price-row .price-col.pro-price .price .value {
    font-size: 2.5rem;
    line-height: 54px;
  }
}

@media (max-width: 1300px) {
  #pricing .main-inner-container .price-row .price-col.pro-price .price .value {
    font-size: 2.375rem;
    line-height: 50px;
  }
}

@media (max-width: 1200px) {
  #pricing .main-inner-container .price-row .price-col.pro-price .price .value {
    font-size: 2.125rem;
    line-height: 44px;
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col.pro-price .price .value {
    font-size: 1.875rem;
    line-height: 40px;
  }
}

#pricing .main-inner-container .price-row .price-col .price-head {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8125rem;
  line-height: 61px;
  color: var(--txt-color);
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  #pricing .main-inner-container .price-row .price-col .price-head {
    font-size: 2.5rem;
    line-height: 54px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  #pricing .main-inner-container .price-row .price-col .price-head {
    font-size: 2.375rem;
    line-height: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  #pricing .main-inner-container .price-row .price-col .price-head {
    font-size: 2.125rem;
    line-height: 46px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col .price-head {
    font-size: 1.75rem;
    line-height: 42px;
    margin-bottom: 15px;
  }
}

#pricing .main-inner-container .price-row .price-col .price {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: var(--txt-color);
  margin-bottom: 32px;
  display: block;
}

@media (max-width: 1400px) {
  #pricing .main-inner-container .price-row .price-col .price {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 1300px) {
  #pricing .main-inner-container .price-row .price-col .price {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1200px) {
  #pricing .main-inner-container .price-row .price-col .price {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col .price {
    font-size: 1.125rem;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

#pricing .main-inner-container .price-row .price-col .price-info {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  color: #888888;
  margin-bottom: 35px;
}

@media (max-width: 1400px) {
  #pricing .main-inner-container .price-row .price-col .price-info {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 1300px) {
  #pricing .main-inner-container .price-row .price-col .price-info {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1200px) {
  #pricing .main-inner-container .price-row .price-col .price-info {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col .price-info {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}

#pricing .main-inner-container .price-row .price-col .btn {
  margin: 0px auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: auto !important;
  padding: 17px 54px 16px;
  background-color: var(--light-txt-color);
  border-radius: 14px;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col .btn {
    padding: 12px 48px 12px;
  }
}

#pricing .main-inner-container .price-row .price-col .btn:hover {
  color: var(--light-txt-color);
  background-color: var(--theme-color);
}

#pricing .main-inner-container .price-row .price-col .price-list {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  list-style: none;
  padding-left: 0;
}

#pricing .main-inner-container .price-row .price-col .price-list li {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: var(--txt-color);
  margin-top: 20px;
}

@media (max-width: 1300px) {
  #pricing .main-inner-container .price-row .price-col .price-list li {
    margin-top: 10px;
  }
}

@media (max-width: 1023px) {
  #pricing .main-inner-container .price-row .price-col .price-list li {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 350px) {
  #pricing .main-inner-container .price-row .price-col .price-list li {
    font-size: 13px;
    line-height: 20px;
  }
}

#pricing .main-inner-container .price-row .price-col .price-list li.disable-check .styled-checkbox:hover + label:before {
  background: #F2F4F6;
}

#pricing .main-inner-container .price-row .price-col .price-list li.disable-check .styled-checkbox:checked + label:before {
  background: #F2F4F6;
}

#pricing .main-inner-container .price-row .price-col .price-list li.disable-check .styled-checkbox:checked + label:after {
  background: #ADAFAF;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #ADAFAF, 4px 0 0 #ADAFAF, 4px -2px 0 #ADAFAF, 4px -4px 0 #ADAFAF, 4px -6px 0 #ADAFAF, 4px -8px 0 #ADAFAF, 4px -10px 0 #ADAFAF;
          box-shadow: 2px 0 0 #ADAFAF, 4px 0 0 #ADAFAF, 4px -2px 0 #ADAFAF, 4px -4px 0 #ADAFAF, 4px -6px 0 #ADAFAF, 4px -8px 0 #ADAFAF, 4px -10px 0 #ADAFAF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#pricing .main-inner-container .price-row .price-col .price-list li.disable-check label {
  color: #ADAFAF;
}

#footer {
  background-color: var(--theme-color-2);
  padding: 108px 0px 85px;
}

@media (max-width: 1300px) {
  #footer {
    padding: 75px 0px 65px;
  }
}

@media (max-width: 1200px) {
  #footer {
    padding: 55px 0px 45px;
  }
}

@media (max-width: 567px) {
  #footer {
    padding: 35px 0px 35px;
  }
}

#footer .main-inner-container {
  padding: 0px 355px;
}

#footer .main-inner-container .footer-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 364px auto auto auto;
      grid-template-columns: 364px auto auto auto;
  -webkit-column-gap: 86px;
          column-gap: 86px;
}

@media (max-width: 1400px) {
  #footer .main-inner-container .footer-row {
    -webkit-column-gap: 52px;
            column-gap: 52px;
  }
}

@media (max-width: 1300px) {
  #footer .main-inner-container .footer-row {
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
}

@media (max-width: 1300px) {
  #footer .main-inner-container .footer-row {
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
  }
}

@media (max-width: 567px) {
  #footer .main-inner-container .footer-row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
  }
}

#footer .main-inner-container .footer-row .footer-col.about-sec .footer-logo {
  margin-bottom: 35px;
  display: block;
}

@media (max-width: 567px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .footer-logo {
    margin-bottom: 25px;
  }
}

#footer .main-inner-container .footer-row .footer-col.about-sec .bold-txt {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 28px;
  color: var(--light-txt-color);
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .bold-txt {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .bold-txt {
    margin-bottom: 15px;
  }
}

#footer .main-inner-container .footer-row .footer-col.about-sec .light-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-txt-color);
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .light-txt {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .light-txt {
    margin-bottom: 15px;
  }
}

#footer .main-inner-container .footer-row .footer-col.about-sec .apps-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  margin-top: 50px;
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col.about-sec .apps-sec {
    margin-top: 25px;
  }
}

#footer .main-inner-container .footer-row .footer-col .footer-head {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--light-txt-color);
  margin-bottom: 28px;
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col .footer-head {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col .footer-head {
    margin-bottom: 15px;
  }
}

@media (max-width: 567px) {
  #footer .main-inner-container .footer-row .footer-col .footer-head {
    min-height: auto;
    margin-bottom: 25px;
  }
}

#footer .main-inner-container .footer-row .footer-col .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .main-inner-container .footer-row .footer-col .link-list a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--light-txt-color);
  margin-bottom: 46px;
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col .link-list a {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  #footer .main-inner-container .footer-row .footer-col .link-list a {
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col .link-list a {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 350px) {
  #footer .main-inner-container .footer-row .footer-col .link-list a {
    font-size: 13px;
    line-height: 16px;
  }
}

#footer .main-inner-container .footer-row .footer-col .link-list a:last-of-type {
  margin-bottom: 0;
}

#footer .main-inner-container .footer-row .footer-col .link-list a:hover {
  text-decoration: none;
}

#footer .main-inner-container .footer-row .footer-col .link-list a:focus {
  text-decoration: none;
}

#footer .main-inner-container .footer-row .footer-col .link-list a:active {
  text-decoration: none;
}

#footer .main-inner-container .footer-row .footer-col .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col .social-link {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

#footer .main-inner-container .footer-row .footer-col .social-link a {
  position: relative;
}

#footer .main-inner-container .footer-row .footer-col .social-link a:last-of-type::before {
  display: none;
}

#footer .main-inner-container .footer-row .footer-col .social-link a::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #ffffff;
  opacity: 0.5;
  right: -15px;
  top: 45%;
}

@media (max-width: 1200px) {
  #footer .main-inner-container .footer-row .footer-col .social-link a::before {
    right: -10px;
  }
}

#bottom-footer {
  padding: 23px 0px;
  background-color: #2F130D;
}

#bottom-footer .main-inner-container {
  padding: 0px 355px;
}

#bottom-footer .main-inner-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--light-txt-color);
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  #bottom-footer .main-inner-container p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 1200px) {
  #bottom-footer .main-inner-container p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 567px) {
  #bottom-footer .main-inner-container p {
    font-size: 14px;
    line-height: 14px;
  }
}
/*# sourceMappingURL=style.css.map */