
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;
// -------------------- Variable -------------------- //
:root {
    --theme-color: #4BBD93;
    --theme-color-2: #21CE99;
    --light-theme-color: #DBF7EF;
    --txt-color: #000000;
    --light-txt-color: #ffffff;
}
$browser-context : 16;
$theme-color: var(--theme-color);
$theme-color-2: var(--theme-color-2);
$light-theme-color: var(--light-theme-color);
$txt-color: var(--txt-color);
$light-txt-color: var(--light-txt-color);

// -------------------- Variable -------------------- //
// -------------------- SCSS Funtion and mixin -------------------- //
@function rem($pixels) {
    @return #{$pixels/$browser-context}rem;
}

@mixin btw-mq($min-screen-size, $max-screen-size) {
    @media (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
// -------------------- SCSS Funtion and mixin -------------------- //

body{
    font-family: 'Open Sans', sans-serif;
    color: $txt-color;
    // background-color: $theme-color;
    position: relative;
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url(../images//banner-shap-1.svg);
        background-repeat: no-repeat;
        max-height: 980px;
        background-position: right -7% top;
        background-size: auto 100%;
        @include max-mq(1800){
            max-height: 900px;
            background-position: right -20% top;    
        }
        @include max-mq(1600){
            max-height: 840px;
            background-position: right -20% top;  
        } 
        @include max-mq(1500){
            max-height: 780px;
            background-position: right -30% top;
        }
        @include max-mq(1400){
            max-height: 720px;
        }
        @include max-mq(1200){
            max-height: 820px;
            background-position: right 0%;
        }
        @include max-mq(1023){
            max-height: 680px;
            background-position: right 0%;
        }
        @include max-mq(767){
            max-height: 580px;
            background-position: right 0% top -25px;
        }
        @include max-mq(600){
            max-height: 520px;
        }
        @include max-mq(567){
            max-height: 600px;
            background-position: right 15% top -25px;
        }
    }
    // @include min-mq(2040){
    //     width: 1920px;
    //     margin: 0px auto;
    // }
}
.navbar-container,
.inner-container,
.main-container,
.main-inner-container
{
    @include min-mq(2040){
        width: 1920px;
        margin: 0px auto;
    }
    @include max-mq(1850){
        padding: 0px 15% !important;
    }
    @include max-mq(1650){
        padding: 0px 10% !important;
    }
    @include max-mq(1300){
        padding: 0px 5% !important;
    }
    @include max-mq(1200){
        padding: 0px 35px !important;
    }
    @include max-mq(1200){
        padding: 0px 25px !important;
    }
    @include max-mq(767){
        padding: 0px 15px !important;
    }
}
.head-txt{
    font-style: normal;
    font-weight: bold;
    font-size: rem(34);
    line-height: 46px;
    position: relative;
    margin-bottom: 64px;
    &::before{
        content: '';
        position: absolute;
        width: 129px;
        height: 5px;
        background-color: $theme-color;
        left: 0;
        bottom: -9px;
    }
    @include max-mq(1500){
        font-size: rem(32);
        line-height: 42px;
        margin-bottom: 44px;
    }
    @include max-mq(1200){
        font-size: rem(28);
        line-height: 38px;
        margin-bottom: 35px;
    }
    @include max-mq(1023){
        font-size: rem(24);
        line-height: 34px;
        margin-bottom: 25px;
    }
}
.btn{
    font-style: normal;
    font-weight: 600;
    font-size: rem(18);
    line-height: 25px;
    text-transform: uppercase;
    color: $light-txt-color;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background: $theme-color;
    &:hover{
        border: none;
        background: $theme-color; 
        box-shadow: none;
    }
    &:focus{
        border: none;
        background: $theme-color;
        box-shadow: none;
    }
    &:active{
        border: none !important;
        background: $theme-color !important;
        box-shadow: none !important;
    }
    @include max-mq(1200){
        font-size: rem(16);
        line-height: 22px;
    }
}
#header{
    padding: 28px 0px;
    @include max-mq(1023){
        padding: 20px 0px 15px;
    }
    .navbar-wrapper{
        .navbar-container{
            padding: 0px 173px;
            .navbar{
                padding: 0px 0px;
                .navbar-brand{
                    padding: 0;
                    a{
                        img{
                            @include max-mq(1023){
                                max-height: 38px;
                            }
                        }
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        align-items: center;
                        padding-right: 170px;
                        @include max-mq(1800){
                            padding-right: 0px;
                        }
                        .nav-item{
                            .nav-link{
                                font-style: normal;
                                font-weight: 600;
                                font-size: rem(16);
                                line-height: 22px;
                                text-transform: uppercase;
                                color: $txt-color;
                                padding-right: 33px;
                                @include max-mq(1200){
                                    font-size: rem(14);
                                    line-height: 20px;
                                    padding-right: 25px;
                                }
                                @include max-mq(1023){
                                    padding-right: 15px;
                                }
                                &:focus{
                                    outline:  none;
                                }
                            }
                            &:last-child{
                                .nav-link{
                                    padding-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler{
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url('../../assets/images/icon-menu.svg');
        background-position: center;
        color: #fff;
        background-size: 30px;
    }
}

#banner{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    @include max-mq(1300){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include max-mq(1200){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include max-mq(567){
        padding-top: 15px;
    }
    &::before{
        content: '';
        width: 456px;
        height: 432px;
        border-radius: 100%;
        background-color: $light-theme-color;
        position: absolute;
        bottom: 0px;
        right: -310px;
        @include max-mq(1600){
            width: 280px;
            height: 280px;
            right: -140px;
        }
        @include max-mq(1200){
            width: 180px;
            height: 180px;
            right: -90px;
        }
    }
    // &::after{
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     content: '';
    //     background-image: url(../images//banner-shap-1.svg);
    //     background-repeat: no-repeat;
    //     max-height: 980px;
    //     background-position: right -7% top;
    //     background-size: auto 100%;
    // }
    .inner-container{
        padding: 0px 173px;
        .row{
            @include max-mq(767){
                display: grid;
                grid-template-columns: 60% auto;
            }
            @include max-mq(567){
                display: grid;
                grid-template-columns: auto;
            }
            .col-md-6{
                &.banner-txt-sec{
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 0;
                    &::before{
                        content: '';
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                        background-color: $light-theme-color;
                        position: absolute;
                        top: 5%;
                        right: 44%;
                    }
                    &::after{
                        content: '';
                        width: 140px;
                        height: 140px;
                        border-radius: 100%;
                        background-color: $light-theme-color;
                        position: absolute;
                        bottom: -8%;
                        right: 10%;
                        @include max-mq(768){
                            z-index: -1;
                            opacity: 0;
                        }
                    }
                    .banner-txt-main{
                        position: relative;
                        .main-head{
                            font-style: normal;
                            font-weight: 800;
                            font-size: rem(75);
                            line-height: 102px;
                            margin-bottom: 31px;
                            @include max-mq(1800){
                                font-size: rem(66);
                                line-height: 86px;
                            }
                            @include max-mq(1500){
                                font-size: rem(56);
                                line-height: 76px;
                            }
                            @include max-mq(1300){
                                font-size: rem(48);
                                line-height: 68px;
                            }
                            @include max-mq(1023){
                                font-size: rem(36);
                                line-height: 52px;
                            }
                            @include max-mq(767){
                                font-size: rem(32);
                                line-height: 46px;
                            }
                            @include max-mq(567){
                                font-size: rem(28);
                                line-height: 40px;
                                margin-bottom: 25px;
                            }
                        }
                        p{
                            width: 65%;
                            font-style: normal;
                            font-weight: normal;
                            font-size: rem(26);
                            // line-height: 35px;
                            margin-bottom: 57px;
                            @include max-mq(1850){
                                width: 85%; 
                                font-size: rem(22);
                                margin-bottom: 57px;
                            }
                            @include max-mq(1300){
                                width: 100%; 
                                font-size: rem(20);
                                margin-bottom: 54px;
                            }
                            @include max-mq(1023){
                                font-size: rem(16);
                                margin-bottom: 35px;
                            }
                            @include max-mq(600){
                                font-size: rem(14);
                                margin-bottom: 28px;
                            }
                        }
                        .btn{
                            padding: 14px 47px 17px 53px;
                            font-size: rem(20);
                            position: relative;
                            z-index: 2;
                            @include max-mq(1500){
                                font-size: rem(18);
                            }
                            @include max-mq(1023){
                                font-size: rem(16);
                                padding: 12px 40px;
                            }
                        }

                    }
                }
                &.banner-img-sec{
                    display: flex;
                    justify-content: flex-end;
                    padding-right: calc(1% + 170px);
                    position: relative;
                    @include max-mq(1800){
                        padding-right: 0;
                    }
                    img{
                        @include max-mq(1600){
                            width: 80%;
                        }
                        @include max-mq(1400){
                            width: 90%;
                        }
                        @include max-mq(1023){
                            width: 100%;
                        }
                        @include max-mq(567){
                            width: 80%;
                            margin: 0px auto;
                        }
                    }
                }
            }
        }
    }
}

#dental-analytics{
    padding-top: 75px;
    padding-bottom: 227px;
    position: relative;
    overflow: hidden;
    @include max-mq(1400){
        padding-bottom: 120px;
    }
    @include max-mq(1023){
        padding-top: 0px;
        padding-bottom: 80px;
    }
    &::before{
        content: '';
        width: 375px;
        height: 375px;
        border-radius: 100%;
        background-color: $light-theme-color;
        position: absolute;
        bottom: 0px;
        right: -188px;
        @include max-mq(1400){
            width: 300px;
            height: 300px;
            right: -150px;
        }
        @include max-mq(1200){
            width: 200px;
            height: 200px;
            right: -100px;
        }
        @include max-mq(1023){
            width: 140px;
            height: 140px;
            right: -70px;
        }
    }
    .main-container{
        padding: 0px 235px;
        .dental-analytics-row{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            column-gap: 107px;
            @include max-mq(1300){
                grid-template-columns: repeat(2, 49%); 
                column-gap: 2%;
            }
            @include max-mq(767){
                display: flex;
                flex-direction: column-reverse;
                row-gap: 35px;
            }
            .img-sec{
                position: relative;
                &::after{
                    width: 68px;
                    height: 68px;
                    border-radius: 100%;
                    background-color: $light-theme-color;
                    position: absolute;
                    top: 82px;
                    left: 100px;
                    z-index: -1;
                    content: '';
                }
                &::before{
                    content: '';
                    width: 475px;
                    height: 475px;
                    border-radius: 100%;
                    background-color: $light-theme-color;
                    position: absolute;
                    bottom: -64px;
                    left: -64px;
                    z-index: -1;
                    @include max-mq(1400){
                        width: 400px;
                        height: 400px;
                    }
                    @include max-mq(1300){
                        width: 360px;
                        height: 360px;
                    }
                    @include max-mq(1200){
                        width: 260px;
                        height: 260px;
                        bottom: -34px;
                        left: -34px;
                    }
                }
                img{
                    width: 100%;
                    @include max-mq(767){
                        max-width: 310px;
                    }
                }
                
            }
            .txt-sec{
                position: relative;
                &::before{
                    content: '';
                    width: 54px;
                    height: 54px; 
                    border-radius: 100%;
                    background-color: $light-theme-color;
                    position: absolute;
                    bottom: 40%;
                    left: -220px;
                    z-index: -1;
                }
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(20);
                    line-height: 27px;
                    @include max-mq(1500){
                        font-size: rem(18);
                        line-height: 24px;
                    }
                    @include max-mq(1200){
                        font-size: rem(16);
                        line-height: 22px;
                    }
                    @include max-mq(1023){
                        font-size: rem(14);
                        line-height: 22px;
                    }
                }
                .inner-head-txt{
                    margin-top: 45px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: rem(34);
                    line-height: 46px;
                    @include max-mq(1500){
                        font-size: rem(30);
                        line-height: 42px;
                        margin-top: 35px;
                    }
                    @include max-mq(1300){
                        font-size: rem(28);
                        line-height: 40px;
                        margin-top: 25px;
                    }
                    @include max-mq(1023){
                        font-size: rem(22);
                        line-height: 32px;
                        margin-top: 15px;
                    }
                }
                .icon-list-sec{
                    display: flex;
                    flex-direction: column;
                    row-gap: 60px;
                    margin-top: 58px;
                    @include max-mq(1500){
                        margin-top: 48px;
                    }
                    @include max-mq(1300){
                        margin-top: 35px;
                        row-gap: 40px;
                    }
                    @include max-mq(1300){
                        margin-top: 25px;
                        row-gap: 25px;
                    }
                    .single-icon-list{
                        display: grid;
                        grid-template-columns: 60px 340px;
                        align-items: center;
                        column-gap: 27px;
                        grid-template-rows: 60px;
                        @include max-mq(1023){
                            grid-template-columns: 44px auto;
                            column-gap: 10px;
                            grid-template-rows: 44px;
                        }
                        .icon-sec{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            background-color: $theme-color;
                            height: 100%;
                            width: 100%;
                            img{
                                width: 24px;
                                height: auto;
                            }
                        }
                        .list-txt{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: #888888;
                            @include max-mq(1200){
                                font-size: 14px;
                                line-height: 20px;
                            }
                            @include max-mq(567){
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#cross-user{
    @include max-mq(767){
        overflow: hidden;
    }
    .main-inner-container{
        padding: 0px 355px;
        .cross-user-row{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 310px;
            align-items: center;
            @include max-mq(1500){
                column-gap: 240px !important;
            }
            @include max-mq(1400){
                column-gap: 100px !important;
            }
            @include max-mq(1200){
                column-gap: 35px !important;
            }
            @include max-mq(1200){
                grid-template-columns: repeat(2,49%);
                column-gap: 2% !important;
            }
            @include max-mq(767){
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                align-items: baseline;
            }
            .img-sec{
                @include max-mq(767){
                    width: 100%;
                    display: flex;
                }
                img{
                    width: 100%;
                    @include max-mq(767){
                        max-width: 310px;
                        margin: 0px auto;
                    }
                }
            }
            .txt-sec{
                position: relative;
                &::before{
                    content: '';
                    width: 115px;
                    height: 115px;
                    border-radius: 100%;
                    background-color: $light-theme-color;
                    position: absolute;
                    bottom: -18%;
                    right: -50%;
                    z-index: -1;
                    @include max-mq(1400){
                        width: 90px;
                        height: 90px;
                        bottom: -50%;
                        right: -20%;
                    }
                }
                h2{

                }
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(20);
                    line-height: 27px;
                    @include max-mq(1500){
                        font-size: rem(18);
                        line-height: 24px;
                    }
                    @include max-mq(1200){
                        font-size: rem(16);
                        line-height: 22px;
                    }
                    @include max-mq(1023){
                        font-size: rem(14);
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

#goal-setting{
    @extend #cross-user;
    padding: 100px 0px;
    position: relative;
    @include max-mq(1300){
        padding: 65px 0px;
    }
    @include max-mq(1023){
        padding: 35px 0px;
    }
    &::before{
        content: '';
        width: 65px;
        height: 65px;
        border-radius: 100%;
        background-color: $light-theme-color;
        position: absolute;
        bottom: 20%;
        right: 102px;
        z-index: -1;
    }
    .main-inner-container{
        .cross-user-row{
            column-gap: 180px;
            @include max-mq(767){
                display: flex;
                flex-direction: column-reverse;
                row-gap: 25px;
            }
            .img-sec{
                position: relative;
                @include max-mq(767){
                    width: 100%;
                    display: flex;
                }
                img{
                    width: 100%;
                    @include max-mq(767){
                        max-width: 310px;
                        margin: 0px auto;
                    }
                }
                &::before{
                    content: '';
                    width: 156px;
                    height: 156px;
                    border-radius: 100%;
                    background-color: $light-theme-color;
                    position: absolute;
                    top: -4%;
                    left: -40%;
                    z-index: -1;
                }
            }
            .txt-sec{
                &::before{
                    display: none;
                }
                h2{

                }
                p{
                }
            }
        }
    }
}

#download-apps{
    background-color: $theme-color-2;
    padding: 57px 0px 70px;
    position: relative;
    @include max-mq(1200){
        padding: 35px 0px 55px;
    }
    @include max-mq(1023){
        padding: 35px 0px 45px;
    }
    @include max-mq(767){
        padding: 25px 0px 25px;
    }
    &::before{
        content: '';
        width: 245px;
        height: 245px;
        border-radius: 100%;
        background-color: #DBF7EF;
        position: absolute;
        top: -25%;
        right: 0%;
        opacity: 0.2;
        @include max-mq(1400){
            width: 160px;
            height: 160px;
        }
        @include max-mq(567){
            opacity: 0;
        }
    }
    &::after{
        content: '';
        width: 175px;
        height: 175px;
        border-radius: 100%;
        background-color: #DBF7EF;
        position: absolute;
        bottom: -87px;
        left: 10%;
        opacity: 0.2;
        @include max-mq(1400){
            width: 140px;
            height: 140px;
        }
        @include max-mq(567){
            opacity: 0;
        }
    }
    .main-inner-container{
        padding: 0px 355px;
        .white-head{
            color: $light-txt-color;
            font-style: normal;
            font-weight: bold;
            font-size: rem(54);
            line-height: 74px;
            margin-bottom: 57px;
            text-align: center;
            @include max-mq(1500){
                font-size: rem(52);
                line-height: 68px;
            }
            @include max-mq(1400){
                font-size: rem(50);
                line-height: 64px;
            }
            @include max-mq(1300){
                font-size: rem(48);
                line-height: 60px;
            }
            @include max-mq(1200){
                font-size: rem(38);
                line-height: 48px;
                margin-bottom: 35px;
            }
            @include max-mq(1023){
                font-size: rem(32);
                line-height: 38px;
                margin-bottom: 25px;
            }
            @include max-mq(767){
                font-size: rem(28);
                line-height: 32px;
            }
            @include max-mq(767){
                font-size: rem(24);
                line-height: 28px;
            }
        }
        .apps-sec{
            display: flex;
            column-gap: 31px;
            justify-content: center;
            @include max-mq(1023){
                column-gap: 20px;
            }
            .apps-store{
                a{
                    img{
                        @include max-mq(1200){
                            max-height: 48px;
                        }
                        @include max-mq(1023){
                            max-height: 42px;
                        }
                        @include max-mq(1023){
                            max-height: 36px;
                        }
                    }
                }
            }
        }
    }
}

#key-performance{
    padding-top: 140px;
    @include max-mq(1500){
        padding-top: 100px; 
    }
    @include max-mq(1023){
        padding-top: 45px; 
    }
    .main-inner-container{
        padding: 0px 355px;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            width: 147px;
            height: 147px;
            background-color: $light-theme-color;
            border-radius: 100%;
            bottom: 30%;
            left: 45px;
            @include max-mq(1600){
                width: 100px;
                height: 100px;
                left: 1%;
            }
            @include max-mq(1300){
                width: 80px;
                height: 80px;
                bottom: 10%;
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            background-color: $light-theme-color;
            border-radius: 100%;
            bottom: 38%;
            right: 8%;
            @include max-mq(1300){
                bottom: 20%;
                right: 1%;
            }
        }
        .key-performance-row{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 125px;
            align-items: center;
            position: relative;
            @include max-mq(1500){
                column-gap: 70px;
            }
            @include max-mq(1400){
                column-gap: 40px;
            }
            @include max-mq(1023){
                column-gap: 15px;
            }
            @include max-mq(767){
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                align-items: baseline;
            }
            // overflow: hidden;
            &::before{
                content: '';
                position: absolute;
                width: 104px;
                height: 104px;
                background-color: $light-theme-color;
                border-radius: 100%;
                top: 10%;
                left: calc(100% + 10px);
            }

            .img-sec{
                overflow: hidden;
                position: relative;
                @include max-mq(767){
                    width: 100%;
                    align-items: baseline;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 534px;
                    height: 534px;
                    background-color: $light-theme-color;
                    border-radius: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include max-mq(1400){
                        width: 480px;
                        height: 480px;
                    }
                    @include max-mq(1200){
                        width: 360px;
                        height: 360px;
                    }
                    @include max-mq(1023){
                        width: 320px;
                        height: 320px;
                    }
                    @include max-mq(567){
                        width: 280px;
                        height: 280px;
                    }
                }

                .owl-carousel{
                    .owl-stage-outer{
                        .owl-stage{
                            .owl-item{
                                .item{
                                    .single-img-sec{
                                        img{
                                            width: auto;
                                            max-height: 780px;
                                            margin: 0px auto;
                                            @include max-mq(1400){
                                                max-height: 700px;
                                            }
                                            @include max-mq(1200){
                                                max-height: 640px;
                                            }
                                            @include max-mq(1023){
                                                max-height: 580px;
                                            }
                                            @include max-mq(767){
                                                max-height: 380px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav{
                        display: flex;
                        justify-content: center;
                        margin-top: 0;
                        column-gap: 46px;
                        .owl-prev{
                            margin: 0;
                            line-height: 1;
                            font-size: 35px;
                            font-weight: 200;
                            color: rgba(0, 0, 0, 0.5);
                            margin-top: -15px;
                            &:hover{
                                color: $theme-color-2;
                                background-color: transparent;
                            }
                            &:focus{
                                color: $theme-color-2;
                                background-color: transparent;
                            }
                            &:active{
                                color: $theme-color-2;
                                background-color: transparent;
                            }
                        }
                        .owl-next{
                            @extend .owl-prev;
                        }
                    }
                }
            }
            .txt-sec{
                position: relative;
                width: 93%;
                overflow: hidden;
                // &::before{
                //     content: '';
                //     width: 115px;
                //     height: 115px;
                //     border-radius: 100%;
                //     background-color: $light-theme-color;
                //     position: absolute;
                //     bottom: -18%;
                //     right: -50%;
                //     z-index: -1;
                // }
                h2{

                }
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(20);
                    line-height: 27px;
                    @include max-mq(1500){
                        font-size: rem(18);
                        line-height: 24px;
                    }
                    @include max-mq(1200){
                        font-size: rem(16);
                        line-height: 22px;
                    }
                    @include max-mq(1023){
                        font-size: rem(14);
                        line-height: 22px;
                    }
                }
                .owl-carousel{
                    margin-top: 100px;
                    @include max-mq(1200){
                        margin-top: 60px;
                    }
                    @include max-mq(1023){
                        margin-top: 35px;
                    }
                    .owl-stage-outer{
                        .owl-stage{
                            .owl-item{
                                .item{
                                    .single-item {
                                        display: grid;
                                        grid-template-columns: 85px auto;
                                        column-gap: 20px;
                                        align-items: center;
                                        grid-template-rows: 85px;
                                        @include max-mq(1023){
                                            grid-template-columns: 65px auto;
                                            grid-template-rows: 65px;
                                        }
                                        .logo-sec{
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-end;
                                            height: 100%;
                                            position: relative;
                                            &::before{
                                                content: '';
                                                position: absolute;
                                                width: 76px;
                                                height: 76px;
                                                background-color: #F2F4F6;
                                                bottom: -8px;
                                                left: 5px;
                                                z-index: -1;
                                                border-radius: 100%;
                                                @include max-mq(1023){
                                                    width: 56px;
                                                    height: 56px;
                                                }
                                            }
                                            img{
                                                width: 64px;
                                                height: 64px;
                                                @include max-mq(1023){
                                                    width: 44px;
                                                    height: 44px;
                                                }
                                            }
                                        }
                                        .slider-head{
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 30px;
                                            line-height: 41px;
                                            color: $theme-color-2;
                                            margin-bottom: 0;
                                            @include max-mq(1200){
                                                font-size: 26px;
                                                line-height: 38px;
                                            }
                                            @include max-mq(1200){
                                                font-size: 22px;
                                                line-height: 32px;
                                            }
                                        }
                                        p{
                                            grid-column-start: 2;
                                            grid-column-end: -1;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 20px;
                                            line-height: 27px;
                                            color: $txt-color;
                                            @include max-mq(1200){
                                                font-size: 18px;
                                                line-height: 32px;
                                            }
                                            @include max-mq(1023){
                                                font-size: 16px;
                                                line-height: 28px;
                                            }
                                            @include max-mq(767){
                                                font-size: 14px;
                                                line-height: 22px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-dots{
                        .owl-dot{
                            width: 36px;
                            height: 6px;
                            margin-left: 7px;
                            span{
                                width: 36px;
                                height: 6px;
                                margin: 0;
                                background-color: #C4C4C4;
                            }
                            &.active{
                                span{
                                    background-color: $theme-color-2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 20px;
      display: inline-block;
      vertical-align: text-top;
      width: 22px;
      height: 22px;
      background: #F2F4F6;
      @include max-mq(567){
        margin-right: 10px;
      }
    }
  
    // Box hover
    &:hover + label:before {
      background: #E1F4EC;
    }
    
    // Box focus
    &:focus + label:before {
    //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: #E1F4EC;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #F2F4F6;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 16px;
        background: #21CE99;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 #21ce99, 4px 0 0 #21ce99, 4px -2px 0 #21ce99, 4px -4px 0 #21ce99, 4px -6px 0 #21ce99, 4px -8px 0 #21ce99, 4px -10px 0 #21ce99;
        transform: rotate(45deg);
        @include max-mq(1023){
            top: 13px;
        }
    }
  }

  #pricing{
      padding: 95px 0px 120px;
      position: relative;
      overflow: hidden;
      margin-top: -50px;
      @include max-mq(1023){
        padding: 65px 0px 55px; 
        margin-top: -20px;
      }
      &::before{
          content: '';
          width: 375px;
          height: 375px;
          border-radius: 100%;
          background-color: $light-theme-color;
          position: absolute;
          top: 0px;
          left: -172px;
          z-index: -1;
          @include max-mq(1600){
            width: 240px;
            height: 240px;
            left: -120px;
          }
      }
      &::after{
          content: '';
          width: 224px;
          height: 224px;
          border-radius: 100%;
          background-color: $light-theme-color;
          position: absolute;
          bottom: 20%;
          right: -102px;
          z-index: -1;
      }
      .main-inner-container{
        padding: 0px 355px;
          .head-txt{

          }
          p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: $txt-color;
            @include max-mq(767){
                font-size: 16px;
                line-height: 22px;
            }
          }
          .price-row{
                padding-top: 66px;
                display: grid;
                grid-template-columns: repeat(2, 490px);
                column-gap: 117px;
                @include max-mq(1500){
                    column-gap: 100px;
                }
                @include max-mq(1400){
                    column-gap: 80px;
                    grid-template-columns: repeat(2, 1fr);
                }
                @include max-mq(1023){
                    column-gap: 20px;
                    padding-top: 35px;
                }
                @include max-mq(767){
                    padding-top: 15px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 25px;
                }
              .price-col{
                    padding: 50px 50px 45px 45px;
                    border: 1px solid #D1D1D1;
                    box-sizing: border-box;
                    border-radius: 30px;
                    box-shadow: none;
                    transition: box-shadow .35s ease-in-out;
                    background-color: #fff;
                    @include max-mq(1200){
                        padding: 35px 25px;
                    }
                    @include max-mq(567){
                        padding: 25px 15px;
                    }
                    @include max-mq(767){
                        max-width: 400px;
                        width: 100%;
                        margin: 0px auto;
                    }
                    &:hover{
                        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
                        border: 1px solid #fff;
                        transition: box-shadow .35s ease-in-out;
                        .btn{
                            color: $light-txt-color;
                            background-color: $theme-color;
                        }
                    }
                    &.basic-price{
                        position: relative;
                        &::before{
                            content: '';
                            width: 104px;
                            height: 104px;
                            border-radius: 100%;
                            background-color: $light-theme-color;
                            position: absolute;
                            bottom: -4%;
                            left: -42%;
                            z-index: -1;
                        }
                    }
                    &.pro-price{
                        color: $txt-color;

                        .price{
                            margin-bottom: 10px;
                            display: flex;
                            align-items: center;
                            .value{
                                font-style: normal;
                                font-weight: 600;
                                font-size: rem(45);
                                line-height: 61px;
                                padding-right: 10px;
                                @include max-mq(1400){
                                    font-size: rem(40);
                                    line-height: 54px;
                                    // margin-bottom: 40px;
                                }
                                @include max-mq(1300){
                                    font-size: rem(38);
                                    line-height: 50px;
                                }
                                @include max-mq(1200){
                                    font-size: rem(34);
                                    line-height: 44px;
                                }
                                @include max-mq(1023){
                                    font-size: rem(30);
                                    line-height: 40px;
                                }
                            }
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 27px;
                        }

                    }
                    .price-head{
                        font-style: normal;
                        font-weight: bold;
                        font-size: rem(45);
                        line-height: 61px;
                        color: $txt-color;
                        margin-bottom: 50px;
                        @include max-mq(1400){
                            font-size: rem(40);
                            line-height: 54px;
                            margin-bottom: 40px;
                        }
                        @include max-mq(1300){
                            font-size: rem(38);
                            line-height: 50px;
                            margin-bottom: 30px;
                        }
                        @include max-mq(1200){
                            font-size: rem(34);
                            line-height: 46px;
                            margin-bottom: 25px;
                        }
                        @include max-mq(1023){
                            font-size: rem(28);
                            line-height: 42px;
                            margin-bottom: 15px;
                        }
                    }
                    .price{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 28px;
                        line-height: 38px;
                        color: $txt-color;
                        margin-bottom: 32px;
                        display: block;
                        @include max-mq(1400){
                            font-size: 26px;
                            line-height: 36px;
                        }
                        @include max-mq(1300){
                            font-size: 24px;
                            line-height: 32px;
                            margin-bottom: 25px;
                        }
                        @include max-mq(1200){
                            font-size: 20px;
                            line-height: 28px;
                        }
                        @include max-mq(1023){
                            font-size: rem(18);
                            line-height: 24px;
                            margin-bottom: 15px;
                        }
                    }
                    .price-info{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 22px;
                        line-height: 35px;
                        color: #888888;
                        margin-bottom: 35px;
                        @include max-mq(1400){
                            font-size: 20px;
                            line-height: 32px;
                        }
                        @include max-mq(1300){
                            font-size: 18px;
                            line-height: 28px;
                            margin-bottom: 25px;
                        }
                        @include max-mq(1200){
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @include max-mq(1023){
                            font-size: 14px;
                            line-height: 22px;
                            margin-bottom: 15px;
                        }
                    }
                    .btn{
                        margin: 0px auto !important;
                        display: flex !important;
                        width: auto !important;
                        padding: 17px 54px 16px;
                        background-color: $light-txt-color;
                        border-radius: 14px;
                        border: 1px solid $theme-color;
                        color: $theme-color;
                        @include max-mq(1023){
                            padding: 12px 48px 12px;
                        }
                        &:hover{
                            color: $light-txt-color;
                            background-color: $theme-color;
                        }
                    }
                    .price-list{
                        border-top: 1px solid rgba(0, 0, 0, 0.15);
                        list-style: none;
                        padding-left: 0;
                        li{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 35px;
                            color: $txt-color;
                            margin-top: 20px;
                            @include max-mq(1300){
                                margin-top: 10px;
                            }
                            @include max-mq(1023){
                                font-size: 14px;
                                line-height: 22px;
                            }
                            @include max-mq(350){
                                font-size: 13px;
                                line-height: 20px;
                            }
                            input{
    
                            }
                            label{

                            }
                            &.disable-check{
                                .styled-checkbox {
                                        // Box hover
                                    &:hover + label:before {
                                        background: #F2F4F6;
                                    }
                                    
                                    // Box checked
                                    &:checked + label:before {
                                        background: #F2F4F6;
                                    }
                                    &:checked + label:after {
                                        background: #ADAFAF;
                                        width: 2px;
                                        height: 2px;
                                        box-shadow: 2px 0 0 #ADAFAF, 4px 0 0 #ADAFAF, 4px -2px 0 #ADAFAF, 4px -4px 0 #ADAFAF, 4px -6px 0 #ADAFAF, 4px -8px 0 #ADAFAF, 4px -10px 0 #ADAFAF;
                                        transform: rotate(
                                    45deg
                                    );
                                    }
                                  }
                            label{
                                color: #ADAFAF;
                            }
                        }
                    }

                }    
            }
        }
    }
}

#footer{
    background-color: $theme-color-2;
    padding: 108px 0px 85px;
    @include max-mq(1300){
        padding: 75px 0px 65px;
    }
    @include max-mq(1200){
        padding: 55px 0px 45px;
    }
    @include max-mq(567){
        padding: 35px 0px 35px;
    }
    .main-inner-container{
        padding: 0px 355px;
        .footer-row{
            display: grid;
            grid-template-columns: 364px auto auto auto;
            column-gap: 86px;
            @include max-mq(1400){
                column-gap: 52px;
            }
            @include max-mq(1300){
                column-gap: 35px;
            }
            @include max-mq(1300){
                column-gap: 25px;
            }
            @include max-mq(1023){
                grid-template-columns: repeat(3,1fr);
                row-gap: 35px;
            }
            @include max-mq(567){
                grid-template-columns: repeat(2,1fr);
                row-gap: 25px;
                column-gap: 5px;
            }
            .footer-col{
                &.about-sec{
                    @include max-mq(1023){
                        grid-column-start: 1;
                        grid-column-end: -1;
                    }
                    .footer-logo{
                        margin-bottom: 35px;
                        display: block;
                        @include max-mq(567){
                            margin-bottom: 25px;
                        }
                    }
                    .bold-txt{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 25px;
                        margin-bottom: 28px;
                        color: $light-txt-color;
                        @include max-mq(1200){
                            font-size: 16px;
                            line-height: 22px;
                        }
                        @include max-mq(1023){
                            margin-bottom: 15px;
                        }
                    }
                    .light-txt{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: $light-txt-color;
                        @include max-mq(1200){
                            font-size: 14px;
                            line-height: 20px;
                        }
                        @include max-mq(1023){
                            margin-bottom: 15px;
                        }
                    }
                    .apps-sec{
                        display: flex;
                        column-gap: 8px;
                        margin-top: 50px;
                        @include max-mq(1023){
                            margin-top: 25px;
                        }
                        .apps-store{
            
                        }
                    }
                }
                .footer-head{
                    min-height: 50px;
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $light-txt-color;
                    margin-bottom: 28px;
                    @include max-mq(1200){
                        font-size: 16px;
                        line-height: 22px;
                    }
                    @include max-mq(1023){
                        margin-bottom: 15px;
                    }
                    @include max-mq(567){
                        min-height: auto;
                        margin-bottom: 25px;
                    }
                }
                .link-list{
                    display: flex;
                    flex-direction: column;
                    a{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: $light-txt-color;
                        margin-bottom: 46px;
                        @include max-mq(1200){
                            font-size: 16px;
                            line-height: 22px;
                        }
                        @include max-mq(1023){
                            margin-bottom: 15px;
                        }
                        @include max-mq(1200){
                            font-size: 14px;
                            line-height: 18px;
                        }
                        @include max-mq(350){
                            font-size: 13px;
                            line-height: 16px;
                        }
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                        &:focus{
                            text-decoration: none;
                        }
                        &:active{
                            text-decoration: none;
                        }
                    }
                }
                .social-link{
                    display: flex;
                    column-gap: 30px;
                    @include max-mq(1200){
                        column-gap: 20px;
                    }
                    a{
                        position: relative;
                        &:last-of-type{
                            &::before{
                                display: none;
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 1px;
                            height: 9px;
                            background-color: #ffffff;
                            opacity: 0.5;
                            right: -15px;
                            top: 45%;
                            @include max-mq(1200){
                                right: -10px;
                            }
                        }
                    }
                }
                &.explore-sec{

                }
                &.company-sec{
                    
                }
            }

        }
    }
}
#bottom-footer{
    padding: 23px 0px;
    background-color: #2F130D;
    .main-inner-container{
        padding: 0px 355px;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: $light-txt-color;
            margin-bottom: 0;
            @include max-mq(1300){
                font-size: 18px;
                line-height: 25px;
            }
            @include max-mq(1200){
                font-size: 16px;
                line-height: 22px;
            }
            @include max-mq(567){
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
}